@font-face {
    font-family: Sohne;
    src: url(fonts/TestSöhne-Buch.otf);
}

@font-face {
    font-family: SohneLight;
    src: url(fonts/TestSöhne-Leicht.otf);
}

@font-face {
    font-family: SohneBold;
    src: url(fonts/TestSöhne-Dreiviertelfett.otf);
}


@font-face {
    font-family: Soarceserif;
    src: url(fonts/SourceSerifProRegular-zOZw.ttf);
}

body {
    margin: 0px;
    font-family: Sohne;
}


h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 270%;
}

h3 {
color: black;
font-family: SohneBold;
font-size: 125%;
margin-top: px;
margin-bottom: 5px;
}

h4 {
    margin-bottom: 6px;
    margin-top: 15px;
    color: black;
}

p {
font-family: Soarceserif;
margin-top: 10px;
letter-spacing: 1px;
}


.clickable {
    cursor:pointer;
}


/* BARRA IN CIMA AL SITO */

.topbar {
display: flex;
flex-wrap: wrap;
padding: 0px 25px 0px 25px;
height: 57px;
align-items: center;
justify-content: space-between;
position: relative;
border-bottom: 1px solid #e5e6e6;
color: #757575;
}


.logosearch {
    display:flex;
    align-items: center;
}

    #searchbar {
        display: flex;
        margin-left: 15px;
        align-items: center;
        width: 250px;
        border: 0px;
        background-color: #f9f9f9;
        height: 40px;
        border-radius: 25px;
    }
        #search {
                border: none;
                background-color: transparent;
                margin-left: 15px;
                font-size: 85%;
                outline: none;
            }

            #search:focus {
                border: none;
                outline: none;

            }
            
     #searchicon {
            margin-left: 20px;
            scale: 1.3;
     }

        #writeicon {
            margin-right: 5px;
        }

        #writetext {
            margin-right: 25px;
        }

       

        .greenbutton {
            background-color: #41872d;
            border-radius: 25px;
            height: 32px;
            width: 75px;
            border: 0px;
            color: white;
            cursor:pointer;
        }

        .greenbutton:hover {
            background-color: #0F730D;
        }
    
        #profilebutton {
            border: 0px;
            background-color: transparent;
            scale: 2;
            opacity: 0.5;
        }
        #profilearrow {
            scale: 0.4;
        }
        #signin {
            margin-right: 30px;
        }

    .usermenu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        color: #757575;
    }


    main {
        display: flex;
        flex-wrap: no-wrap;
        }


/* SEZIONE NEWS*/


    .wall {
        width:100%;
        padding-right: 70px;
        padding-left: 170px;
    
        }
        
    .wallbody {
        width: 95%;
        min-width: 500px;
        overflow: hidden;
    }
    .topwall {
        height: 130px;
        border-bottom: 1px solid #cfcfcf;
        width: 100%;
        position: relative;   
    }

    .wallswitch{
        display: flex;
        position: absolute;
        font-size: 87%;       
        gap: 30px;
    }

    .walltab {
        border: transparent;
        padding-bottom: 18px;
        background-color: transparent;
        filter: opacity(0.5);
        cursor:pointer
    }

    .walltab:focus {
        filter: opacity(1);
        border-bottom: 1px solid black;
        outline: none;
    }

    .walltab:hover {
        filter: opacity(1);
    }

    article {
        height: 230px;
        border-bottom: 1px solid #cfcfcf;
        padding-top: 55px;
        padding-bottom: 25px;
        color: #757575;

    }

    .date {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 90%;
    }

    .preview {
        display: flex;
        gap: 30px;
        align-items: top;
    }

    .artthumb {
        padding-top: 20px;
    }

    .prevbuttons {
        display: flex;
        justify-content: space-between;

    }

    .tagread {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .tag {
        border: 0px;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
    }


/* SEZIONE PROFILO */


    #infosection {
        width: 75%;
        min-width: 330px;
        position: relative;
    }


            .profile {
            min-height: calc(100vh - 57px);
            width: 303px;
            border-left: 1px solid #e8e8e8;
            padding-top: 40px;
            padding-left: 35px;
            position: sticky;
            top: 0px;
            color: #757575;
            }
        


        #caption {
            margin: 15px 0px 28px 0px;
            font-size: 90%;
        }

        
        
        .profileframe {
        width: 88px;
        height: 88px;
        overflow: hidden;
        border-radius: 50px;
        background-color: black;
        }
    

        .profilepic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
        
        .socialbuttons {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        }
        
    


.followinglist {
    padding-left: 0px;
}

.followinguser {
display: flex;
align-items: center;
justify-content: space-between;
width: 300px;
color: #757575;
margin-top: 0px;
height: 30px;
}

.followersbutton {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 80%;
    cursor:pointer;
}

.pointsicon {
cursor:pointer;
}

.profilepicthumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
}


.userfollowed {
    overflow: hidden;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.seeall {
font-size: 80%;
}


.foot {
    display: flex;
    flex-wrap: wrap;
    font-size: 65%;
    gap: 7px;
    height: 35px;
    width: 303px;
    padding: 1px 0px 1px 0px;
    position: absolute;
    bottom: calc(0vh + 57px);
}
